<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search New Page</title>
</head>
<body>
<h3>Search New Page:</h3>
{%csrf_token%}
<form action="{% url  'NewPage' %}" method="post">
    <p>Please input page title:</p>
    <input style="height: 25px; width: 400px;"  type="text" placeolder="Page Title:" name="PageTitle">
    <br><br>
    <p>Please input content:</p>
    <textarea style="height: 280px; width: 400px;"></textarea>
    <br><br>
    <button type="submit">保存</button>
</form>
</body>
</html>